VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
VITE_SUPABASE_ANON_KEY=
VITE_AI_API_KEY=
VITE_AI_API_URL=https://api.groq.com/openai/v1/chat/completions
VITE_AI_MODEL=moonshotai/kimi-k2-instruct-0905